.themeToggleContainer {
  margin-left: auto;

  img {
    max-width: 20px;
  }

  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .checkboxLabel {
    background-color: #fff;
    width: 48px;
    height: 24px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      width: 32px;
      height: 20px;
    }
  }

  .checkboxLabel .ball {
    background-color: var(--accentColor);
    width: 14px;
    height: 14px;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    transition: transform 0.2s linear;

    &:hover {
      background-color: var(--buttonHoverColor);
    }

    @media (max-width: 768px) {
      width: 12px;
      height: 12px;
    }
  }

  .checkbox:checked + .checkboxLabel .ball {
    transform: translateX(24px);

    @media (max-width: 768px) {
      transform: translateX(12px);
    }
  }
}
