.titleCard {
  width: 100%;
  height: 100%;
  background-color: var(--navColor);
  max-width: 730px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 0 6px 6px 6px;
  margin-bottom: 2rem;

  .imageContainer {
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 81px;
      height: 100%;
      object-fit: contain;
    }
  }

  .contentContainer {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}
