.listingCard {
  background-color: var(--navColor);
  border-radius: 6px;
  padding: 3rem 2rem 2rem;
  position: relative;
  height: 100%;

  .imageContainer {
    padding: 10px;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -25px;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  h4 {
    color: var(--accentColor);
  }
}
