/*******************************
            COLORS
******************************/

$violet: #5964e0;
$light_violet: #939bf4;
$dark_blue: #19202d;
$midnight_blue: #121721;
$white: #fff;
$light_grey: #f4f6f8;
$gray: #9daec2;
$dark_grey: #6e8098;

/*******************************
          COLOR TOGGLE
******************************/

.light {
  --backgroundColor: #f4f6f8;
  --headingColor: #19202d;
  --textColor: #6e8098;
  --accentColor: #5964e0;
  --buttonColor: #5964e0;
  --buttonHoverColor: #939bf4;
  --buttonSecondaryColor: rgba(89, 100, 224, 0.1);
  --buttonSecondaryColorHover: rgba(89, 100, 224, 0.35);
  --buttonSecondaryTextColor: #5964e0;
  --checkboxBackground: rgba(25, 32, 45, 0.1);
  --navColor: #fff;
}

.dark {
  --backgroundColor: #121721;
  --headingColor: #fff;
  --textColor: #6e8098;
  --accentColor: #5964e0;
  --buttonColor: #5964e0;
  --buttonHoverColor: #939bf4;
  --buttonSecondaryColor: rgba(89, 100, 224, 0.1);
  --buttonSecondaryColorHover: rgba(89, 100, 224, 0.35);
  --buttonSecondaryTextColor: #fff;
  --checkboxBackground: rgba(255, 255, 255, 0.1);
  --navColor: #19202d;
}
