@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "./assets/scss/generic/variables";
@import "./assets/scss/generic/typography";
@import "./assets/scss/generic/helper";

:root {
  font-family: "Kumbh Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}

input,
fieldset {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}
